/*reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*main-container*/
body{
  background-image: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  .box-app{
    height: 90vh;
    width: 80%;
    border: 1px solid black;
    display: flex;

  }
  .left{
    width: 40%;
    height: 100%;
    background-color: white;
    border-right: 1px solid black;
    flex-grow: 2;
  }
  .top-left{
    height: 40%;
  }
  .right{
    width: 60%;
    height: 100%;
    background-color: beige;
  }
  .nav-left{
    height: 40%;
  }
  .nav-left, .nav-right{
    background-color: #f0f0f0;
  }

  .notifications{
    height: 40%;
    background-color: lightblue;
    display: flex;
    align-items: center;
  }
  .notifications i{
    margin-left: 10px;
    border-radius: 100px;
    padding: 10px;

    background-color: white;
  }
  .searching{
    height: 20%;
    background-color: #ebe8e8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #searchInput{
    width: 80%;
    height: 80%;
    border: none;
    border-style: none;
  }
  .searching button{
    height: 80%;
    width: 10%;
    border: none;
    background-color: white;
  }
  .searching button, #searchInput{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }
  .bottom-left{
    height: 60%;
  }
  .contacts{
    list-style: none;
  }
  .top-right{
    height: 16%;
  }
  .nav-right{
    height: 100%;
  }
  .messages{
    height: 68%;
  }
  .sending{
    height: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e3dbd5;
  }
  .sending input{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
  }
  .nav-left, .nav-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-interactions i{
    margin-right: 10px;
  }
  .activating{
    font-size: 10px;
    color: grey;
  }
  .text-not{
    margin-left: 10px;
  }
  .messages{
    background-image: url("img/mine.jpg");
  }
  @media screen and (min-width: 1024px) and (max-width:1200px){
    .box-app{
      width: 90%;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1023px){
    .box-app{
      width: 95%;
    }
  }
