/*RESET*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*BODY*/
body{
  background-image: linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
  }
  /* MAIN) */
  .box-app{
    height: 90vh;
    width: 80%;
    display: flex;
  }
  /* SECTION LEFT */
  .left{
    width: 40%;
    height: 100%;
    background-color: white;
    border-right: 1px solid black;
  }
  /* TOP-LEFT */

  .nav-left ul{
    list-style: none;
  }
  .nav-left{
    height: 70px;
  }
  .nav-left, .nav-right{
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-interactions i{
    margin-right: 10px;
  }
  .my-avatar{
    display: flex;
    align-items: center;
  }
  /* NOTIFICHE */
  .notifications{
    height: 70px;
    background-color: #7ed1ed;
    display: flex;
    align-items: center;
  }
  .notifications i{
    margin-left: 10px;
    border-radius: 100px;
    padding: 10px;
    background-color: white;
    color: #7ed1ed;
  }
  .notifications:hover{
    background-color: lightblue;
    cursor: pointer;
  }
  .activating{
    font-size: 10px;
    color: grey;
  }
  .text-not{
    margin-left: 10px;
  }
  /* BARRA RICERCA */
  .searching{
    height: 40px;
    background-color: #ebe8e8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .searchInput{
    width: 80%;
    height: 80%;
    border: none;
    border-style: none;
  }
  .searching button{
    height: 80%;
    width: 10%;
    border: none;
    background-color: white;
  }
  .searching button, .searchInput{
    margin-top: 2.5px;
    margin-bottom: 2.5px;
  }
  /* CONTATTI */

  .contacts{
    height: calc(100% - 180px);
    list-style: none;
    overflow-y: scroll;
  }
  .contacts li{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 5px;
  }
  .contacts li:hover{
    background-color:  #f0f0f0;
    cursor: pointer;
  }
  .contacts li > p{
    align-self: flex-start;
    margin-left: 10px;
  }
  /* RIGHT */
  .right{
    width: 60%;
    height: 100%;
    flex-shrink: 0;
  }
  /* TOP-RIGHT */
  .nav-right{
    height: 70px;
  }
  .contact-message{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .contact-message p span{
    display: block;
    color: grey;
  }
  .amico p span{
    display: block;
    color: grey;
    font-size: 10px;
    padding-top: 10px;
  }
  /* MESSAGES */
  .messages{
    height: calc(100% - 140px);
    background-image: url("img/mine.jpg");
    overflow-y: auto;
    position: relative;
  }
  .messages p span{
    display: block;
    color: grey;
    font-size: 10px;
    padding-top: 10px;
    text-align: right;
  }
  .messages p i{
    margin-left: 10px;
    display: none;
  }
  .messages p:hover i{
  display: inline-block;
  }
  .received, .sent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .received{
    justify-content: flex-start;
  }
  .sent{
    justify-content: flex-end;
  }
  .received p, .sent p {
    padding: 20px;
    box-shadow: 0px 1px grey;
    border-radius: 10px;
    margin: 5px;
  }
  .sent p{
    background-color: rgb(208, 247, 183);
  }
  .received p{
    background-color: white;
  }
  /* SENDING */
  .sending{
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
  }
  .sending input{
    width: 80%;
    height: 80%;
    border-radius: 10px;
    border-style: none;
    padding-left: 10px;
  }
  .emoticon{
    height: auto;
    display: hidden;
    overflow-y: auto;
    background-color: #f0f0f0;
    padding-top: 20px;
  }
  .emoticon ul{
    text-align: center;
  }
  .emoticon ul li{
    display: inline-block;
    width: 40px;
  }
  .emoticon ul li:hover{
    cursor: pointer;
  }
  .active{
    display: block;
  }
  .actions{
    display: block;
    border: 1px solid black;
    list-style: none;

  }

  /* GENERAL */
  a:hover{
    cursor: pointer;
  }
  img{
    height: 50px;
    width: 50px;
    border-radius: 50px;
  }
  .selected{
    background-color: lightgrey;
  }
  /* MEDIA QUERIES */
  @media screen and (min-width: 1024px) and (max-width:1200px){
    .box-app{
      width: 90%;
    }
  }
  @media screen and (min-width: 769px) and (max-width:1023px){
    .box-app{
      width: 95%;
    }

  }
  @media screen and (min-width: 575px) and (max-width: 768px){
    .box-app{
      width: 100%;
      height: 100vh;
    }
    .left{
      flex-shrink: 0;
      flex-basis: 300px;
    }
  }
  @media screen and (max-width: 575.98px){
    .box-app{
      width: 100%;
      height: 100vh;
    }
    .left{
      flex-shrink: 0;
      flex-basis: 300px;
    }
  }
  /* NOTE */
  /* LE NAVABR E L'INPUT SI RIMPICCIOLISCONO PERCHè NON HANNO UN'ALTEZZA FISSA IN PIXEL, PER FARLE RIMANERE FISSE BISOGNA TOGLIERE LE PERCENTUALI */
